<!DOCTYPE html>
<html th:lang="${#locale.language}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title></title>
</head>
<body>

    <div layout:fragment="content" class="mx-auto w-75 mt-3 h-100">
		<div th:each="comment : ${comments}" class="card mt-3 mb-3 border-dark">
			<div class="card-header">
				<div class="d-flex justify-content-start">
					<div class="text-dark"><small th:text="${#temporals.format(comment.createdAt, 'dd-MM-yyyy HH:mm')}"></small></div>
				</div>
			</div>
			<div class="card-body border m-1">
				<div th:utext="${#strings.replace(comment.content, '<table', '<table class=&quot;table table-bordered&quot;')}" class="overflow-auto" style="height: 70px; resize: vertical;"></div>			
			</div>
		</div>
    </div>
    
    <th:block layout:fragment="scripts">
	    <script th:inline="javascript">
	    
	    </script>
	</th:block>
	
</body>
</html>