<!DOCTYPE html>
<html th:lang="${#locale.language}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title></title>
</head>
<body>

    <div layout:fragment="content" class="mx-auto w-75 mt-3">
    	<a class="btn btn-outline-dark mb-3" href="/admin/employee-positions"  role="button">🡨</a>
    	<div class="d-flex justify-content-center">
	    	<div class="card w-75">
	    		<div class="card-body">
		    		<h5 class="card-title">Редагувати посаду</h5>
					<form th:action="@{/admin/employee-positions/{id} (id=${employeePositionId})}" th:object="${employeePositionRequest}" th:method="put">
						<div>
						  <div class="mb-2">
						    <label for="name" class="form-label">Назва (Називний відмінок. Приклад: Директор програми)*</label>
						    <input type="text" class="form-control" th:field="*{name}" required>
						  </div>
						  <div class="mb-2">
						    <label for="code" class="form-label">Назва (Давальний відмінок. Приклад: Директору програми)*</label>
						    <input type="text" class="form-control" th:field="*{targetName}" required>
						  </div>
						  <div class="mb-3">
						    <label for="description" class="form-label">Порядок розміщення*</label>
						    <input type="text" class="form-control" th:field="*{placementOrder}" required>
						  </div>
						  <p>* - обов'язкові поля до заповнення</p>
						  <button type="submit" class="btn btn-outline-dark">Зберегти</button>
						</div>
					</form>
				</div>
			</div>
		</div>
    </div>
    
</body>
</html>