<!DOCTYPE html>
<html th:lang="${#locale.language}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

    <div th:fragment="headerFragment" class="sticky-top">
        <header class="border-bottom">
			<nav class="navbar navbar-expand-lg bg-body-tertiary">
			 <div class="container-fluid">
			    <a class="navbar-brand" href="#" th:text="#{app.title}"></a>
			    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			      <span class="navbar-toggler-icon"></span>
			    </button>
			    <div class="collapse navbar-collapse" id="navbarSupportedContent">
			      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
			        <li class="nav-item">
			          <a class="nav-link" aria-current="page" th:classappend="${activePage == 'memos/create'} ? 'active' : ''" href="/memos/create">Створити</a>
			        </li>
			        <li class="nav-item">
			          <a class="nav-link" href="#">Книга реєстрації</a>
			        </li>
			        <li class="nav-item dropdown">
			          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
			            Адміністрування 
			          </a>
			          <ul class="dropdown-menu">
			          	<li><a class="dropdown-item" th:classappend="${activePage == 'admin/departments'} ? 'active' : ''" href="/admin/departments">Відділи</a></li>
			            <li><a class="dropdown-item" th:classappend="${activePage == 'admin/users'} ? 'active' : ''" href="/admin/users">Користувачі</a></li>
			            <li><a class="dropdown-item" th:classappend="${activePage == 'admin/employees'} ? 'active' : ''" href="/admin/employees">Працівники</a></li>
			            <li><a class="dropdown-item" th:classappend="${activePage == 'admin/employees/positions'} ? 'active' : ''" href="/admin/employees/positions">Посади</a></li>
			            <li><a class="dropdown-item" th:classappend="${activePage == 'admin/registry'} ? 'active' : ''"  href="#">Книга реєстрації</a></li>
			            <li><a class="dropdown-item" th:classappend="${activePage == 'admin/application-settings'} ? 'active' : ''" href="/admin/application-settings">Налаштування</a></li>
			            <li><hr class="dropdown-divider"></li>
			            <li><a class="dropdown-item" th:classappend="${activePage == 'admin/statistics'} ? 'active' : ''" href="#">Статистика</a></li>
			          </ul>
			        </li>
			      </ul>
			    </div>
			  </div>
			</nav>
		</header>
    </div>
    
    <div th:fragment="footerFragment" class="mt-5">
  		<footer>
        	<p>&copy; 2026 Всі права захищені.</p>
    	</footer>
    </div>
    
</body>
</html>