<!DOCTYPE html>
<html th:lang="${#locale.language}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title></title>
</head>
<body>
	
    <div layout:fragment="content" class="mx-auto w-75 mt-3">
   		<p class="fs-5 fw-bold">Відділи:</p>
	    <a th:each="departmentResponse : ${departmentResponses}" th:text="${departmentResponse.name}" class="btn btn-outline-dark w-100" th:href="@{/admin/registration-book/{departmentId} (departmentId=${departmentResponse.id})}" role="button"></a>  	
    </div>
        
</body>
</html>