<!DOCTYPE html>
<html th:lang="${#locale.language}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title></title>
</head>
<body>

    <div layout:fragment="content" class="mx-auto w-75 mt-3">
  		<form th:action="@{/memos}" th:object="${memoRequest}" method="post">
	  		<div class="d-flex justify-content-between mt-3">
	  			<div class="w-50">
					<label for="approverIds" class="form-label"><b>Мітки:</b></label>
					<select th:field="*{labels}" placeholder="Почніть вводити текст..." autocomplete="off" style="width: 100%;"></select>
				</div>
				<button type="submit" class="btn btn-link" data-toggle="tooltip" data-placement="right" title="Зберегти">
					<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="#2d3036" class="bi bi-floppy" viewBox="0 0 16 16">
					  <path d="M11 2H9v3h2z"/>
					  <path d="M1.5 0h11.586a1.5 1.5 0 0 1 1.06.44l1.415 1.414A1.5 1.5 0 0 1 16 2.914V14.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 14.5v-13A1.5 1.5 0 0 1 1.5 0M1 1.5v13a.5.5 0 0 0 .5.5H2v-4.5A1.5 1.5 0 0 1 3.5 9h9a1.5 1.5 0 0 1 1.5 1.5V15h.5a.5.5 0 0 0 .5-.5V2.914a.5.5 0 0 0-.146-.353l-1.415-1.415A.5.5 0 0 0 13.086 1H13v4.5A1.5 1.5 0 0 1 11.5 7h-7A1.5 1.5 0 0 1 3 5.5V1H1.5a.5.5 0 0 0-.5.5m3 4a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5V1H4zM3 15h10v-4.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5z"/>
					</svg>
				</button>
	  		</div>
  			<div>
	  			<div class="mt-3">
					<textarea th:field="*{content}"></textarea>
				</div>
				<div class="mt-3">
					<label for="recipientIds" class="form-label"><b>Кому:</b></label>
					<select th:field="*{recipientIds}" multiple placeholder="Почніть вводити ПІБ або посаду..." autocomplete="off" style="width: 100%;"></select>
				</div>
				<div class="mt-3">
					<label for="copyRecipientIds" class="form-label"><b>Копія:</b></label>
					<select th:field="*{copyRecipientIds}" multiple placeholder="Почніть вводити ПІБ або посаду..." autocomplete="off" style="width: 100%;"></select>
				</div>
				<div class="mt-3">
					<label for="signerIds" class="form-label"><b>Підписав:</b></label>
					<select th:field="*{signerIds}" multiple placeholder="Почніть вводити ПІБ або посаду..." autocomplete="off" style="width: 100%;"></select>
				</div>
				<div class="mt-3">
					<label for="approverIds" class="form-label"><b>Погоджую:</b></label>
					<select th:field="*{approverIds}" multiple placeholder="Почніть вводити ПІБ або посаду..." autocomplete="off" style="width: 100%;"></select>
				</div>
				<div class="mt-3">
					<label for="approverIds" class="form-label"><b>Виконавець:</b></label>
					<select th:field="*{assigneeId}" placeholder="Почніть вводити ПІБ..." autocomplete="off" style="width: 100%;"></select>
				</div>
			</div>
		</form>
    </div>
    
    <th:block layout:fragment="scripts">
	    <script>
	      	tinymce.init({
	        	selector: '#content',
	        	promotion:false,
	        	license_key: 'gpl'
	      	});
	      
			new TomSelect("#recipientIds", {
				plugins: ['remove_button'],
			    valueField: 'id',
			    labelField: 'targetNameLabel',
			    searchField: [],
			    
			    load: function(query, callback) {
			        if (!query.length) return callback();
			        
			        const url = '/api/v1/memos/enabled-employees?q=' + encodeURIComponent(query);
			
			        fetch(url)
			            .then(response => response.json())
			            .then(json => {
			                callback(json);
			            })
			            .catch(() => {
			                callback();
			            });
			    },
			    
			    shouldLoad: function(query) {
			        return query.length >= 2;
			    }
			});
			
			new TomSelect("#copyRecipientIds", {
				plugins: ['remove_button'],
			    valueField: 'id',
			    labelField: 'targetNameLabel',
			    searchField: [],
			    
			    load: function(query, callback) {
			        if (!query.length) return callback();
			
			        const url = '/api/v1/memos/enabled-employees?q=' + encodeURIComponent(query);
			
			        fetch(url)
			            .then(response => response.json())
			            .then(json => {
			                callback(json);
			            })
			            .catch(() => {
			                callback();
			            });
			    },
			    
			    shouldLoad: function(query) {
			        return query.length >= 2;
			    }
			});
			
			new TomSelect("#signerIds", {
				plugins: ['remove_button'],
			    valueField: 'id',
			    labelField: 'nameLabel',
			    searchField: [],
			    
			    load: function(query, callback) {
			        if (!query.length) return callback();
			
			        const url = '/api/v1/memos/enabled-employees?q=' + encodeURIComponent(query);
			
			        fetch(url)
			            .then(response => response.json())
			            .then(json => {
			                callback(json);
			            })
			            .catch(() => {
			                callback();
			            });
			    },
			    
			    shouldLoad: function(query) {
			        return query.length >= 2;
			    }
			});
			
			new TomSelect("#approverIds", {
				plugins: ['remove_button'],
			    valueField: 'id',
			    labelField: 'nameLabel',
			    searchField: [],
			    
			    load: function(query, callback) {
			        if (!query.length) return callback();
			
			        const url = '/api/v1/memos/enabled-employees?q=' + encodeURIComponent(query);
			
			        fetch(url)
			            .then(response => response.json())
			            .then(json => {
			                callback(json);
			            })
			            .catch(() => {
			                callback();
			            });
			    },
			    
			    shouldLoad: function(query) {
			        return query.length >= 2;
			    }
			});
			
			new TomSelect("#assigneeId", {
				plugins: ['remove_button'],
			    valueField: 'id',
			    labelField: 'fullName',
			    searchField: [],
			    
			    load: function(query, callback) {
			        if (!query.length) return callback();
			
			        const url = '/api/v1/memos/enabled-assignees?q=' + encodeURIComponent(query);
			
			        fetch(url)
			            .then(response => response.json())
			            .then(json => {
			                callback(json);
			            })
			            .catch(() => {
			                callback();
			            });
			    },
			    
			    shouldLoad: function(query) {
			        return query.length >= 2;
			    }
			});
			
			new TomSelect("#labels", {
				plugins: ['remove_button'],
			    valueField: 'value',
			    labelField: 'text',
			    create: true, 
			    createOnBlur: true,
			    searchField: [],
			    
			    load: function(query, callback) {
			        if (!query.length) return callback();
			
			        const url = '/api/v1/memos/labels?q=' + encodeURIComponent(query);
			
			        fetch(url)
			            .then(response => response.json())
			            .then(json => {
			                callback(json);
			            })
			            .catch(() => {
			                callback();
			            });
			    },
			    
			    shouldLoad: function(query) {
			        return query.length >= 2;
			    }
			});
	    </script>
	</th:block>
	
</body>
</html>