<!DOCTYPE html>
<html th:lang="${#locale.language}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title th:text="#{app.title}"></title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.8/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/tom-select/2.6.1/dist/css/tom-select.bootstrap5.min.css}" />
</head>
<body>
	<div th:replace="~{fragments/common :: headerFragment}"></div>
	
    <main layout:fragment="content"></main>
    
	<div th:replace="~{fragments/common :: footerFragment}"></div>
	
	<script th:src="@{/webjars/bootstrap/5.3.8/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/webjars/tom-select/2.6.1/dist/js/tom-select.complete.min.js}"></script>
	
	<th:block layout:fragment="scripts"></th:block>
		
</body>
</html>