<!DOCTYPE html>
<html th:lang="${#locale.language}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title></title>
</head>
<body>

    <div layout:fragment="content" class="mx-auto w-75 mt-3">
       <a class="btn btn-outline-dark mb-3" href="/admin/departments"  role="button">🡨</a>
       <div class="card w-100 mb-5">
	   	<div class="card-body">
	   		<h5 class="card-title">Додати сектор</h5>
			<form th:action="@{/admin/departments/{departmentId}/units (departmentId=${departmentId})}" method="post">
				<div>
				  <div class="mb-2">
				    <label for="code" class="form-label">Код*</label>
				    <input type="text" class="form-control" id="code" name="code" value="" required>
				  </div>
		  		  <div class="mb-3 form-check">
			      	<label class="form-check-label" for="enabled">Доступний</label>
				    <input type="checkbox" class="form-check-input" id="enabled" name="enabled" value="true" checked>
				  </div>
				  <p>* - обов'язкові поля до заповнення</p>
				  <button type="submit" class="btn btn-outline-dark">Додати</button>
				</div>
			</form>
		 </div>
	  </div>
	  
	  <div class="table-responsive" style="height: 500px;">
		<table class="table table-sm caption-top border-top">
			<caption>Сектори</caption>
			  <thead>
			    <tr>
			      <th scope="col">#</th>
			      <th style="min-width: 100px;" scope="col">Код</th>
			      <th class="text-center" style="min-width: 100px;" scope="col">Доступний</th>
			      <th style="min-width: 150px;" scope="col">Дата створення</th>
			      <th style="min-width: 150px;" scope="col">Дата оновлення</th>
			      <th class="text-center" style="min-width: 150px;" scope="col">Дія</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr th:each="unit, iterStat : ${units}">
			      <td th:text="${iterStat.count}"></td>
			      <td th:text="${unit.code}"></td>
			      <td class="text-center" th:text="${unit.enabled} ? '🮱'"></td>
			      <td th:text="${#temporals.format(unit.createdAt, 'dd-MM-yyyy HH:mm')}"></td>
			      <td th:text="${#temporals.format(unit.updatedAt, 'dd-MM-yyyy HH:mm')}"></td>
			      <td class="text-center">
			      	<div class="d-grid mb-1">
			        	<a class="btn btn-outline-dark btn-sm" th:href="@{/admin/departments/{departmentId}/units/{id}(departmentId=${departmentId}, id=${unit.id})}" role="button">Редагувати</a>
				    </div>
			      	<form th:action="@{/admin/departments/{departmentId}/units/{id}(departmentId=${departmentId}, id=${unit.id})}" th:method="delete">
						<div class="d-grid">
							<button type="submit" class="btn btn-outline-danger btn-sm">Видалити</button>
						</div>
					</form>
			      </td>
			    </tr>
			  </tbody>
			</table>
		</div>
    </div>
    
</body>
</html>