<!DOCTYPE html>
<html th:lang="${#locale.language}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title></title>
</head>
<body>

    <div layout:fragment="content" class="mx-auto w-75 mt-3">
    	<a class="btn btn-outline-dark mb-3" href="/admin/employees"  role="button">🡨</a>
    	<div class="card w-100 mb-5">
    		<div class="card-body">
    			<h5 class="card-title">Редагувати працівника</h5>
				<form th:action="@{/admin/employees/{id} (id=${employeeId})}" th:object="${employeeRequest}" th:method="put">
					<div>
					  <div class="mb-2">
					    <label for="fullName" class="form-label">ПІБ*</label>
					    <input type="text" class="form-control" th:field="*{fullName}" required>
					  </div>
					  <div class="mb-2">
					    <label for="targetFullName" class="form-label">ПІБ*</label>
					    <input type="text" class="form-control" th:field="*{targetFullName}" required>
					  </div>
					  <div class="mb-3">
					  	<label for="positionIds" class="form-label">Посада*</label>
						<select th:field="*{positionIds}" multiple placeholder="Почніть вводити назву..." autocomplete="off" style="width: 100%;" required>
							<option th:each="position : ${positions}" th:value="${position.id}" th:text="${position.name}"></option>
						</select>
					  </div>
					  <div class="mb-3 form-check">
				      	<label class="form-check-label" for="enabled">Доступний</label>
					    <input type="checkbox" class="form-check-input" th:field="*{enabled}">
					  </div>
					  <p>* - обов'язкові поля до заповнення</p>
					  <button type="submit" class="btn btn-outline-dark">Зберегти</button>
					</div>
				</form>
			</div>
		</div>
	</div>

    <th:block layout:fragment="scripts">
   		<script>
			new TomSelect("#positionIds", {
			    valueField: 'id',
			    labelField: 'name',
			    searchField: [],
			    
			    load: function(query, callback) {
			        if (!query.length) return callback();
			
			        const url = '/api/v1/admin/employees/enabled-positions?q=' + encodeURIComponent(query);
			
			        fetch(url)
			            .then(response => response.json())
			            .then(json => {
			                callback(json);
			            })
			            .catch(() => {
			                callback();
			            });
			    },
			    
			    shouldLoad: function(query) {
			        return query.length >= 2;
			    }
			});
   		</script>
	</th:block>
    
</body>
</html>